@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

main {
    background-color: #ffffff;
    overflow: hidden;

}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;

}

.cnt-style {
    background-color: rgb(31, 41, 55);
}

.logo {
    width: 50%;
    height: 100%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 25px;
    display: flex;
    padding-left: 10%;
    align-items: center;
    cursor: pointer;

}

nav {
    width: 50%;
    height: 100%;

}

ul {
    width: 100%;
    height: 100%;
    list-style: none;
    color: #bbbaba;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    padding-left: 20%;
    align-items: center;
    gap: 28px;

}

nav ul li {
    cursor: pointer;
}

section {
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    
}

.firs-section {
    background-color: rgb(31, 41, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    width: calc(100% - 300px);
    height: calc(100% - auto);
    display: flex;
    align-items: center;
    background-color: rgb(109, 116, 125);
    overflow: hidden;

}

.content-firs, .content-img {
    width: 50%;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    
}

.content-firs {
    background-color: rgb(31, 41, 55);
    padding-left: 20px;
}

.content-firs h1 {
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
    color: #fff;

}

.content-firs p {
    color: #b0afaf;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

.sign {
    margin-top: 10px;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: rgb(59, 130, 246);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;

}

.content-img {
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

}

